#appointment-form-container {
    margin-top: 20px;
    text-align: left;
}

#appointment-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

#appointment-form input, #appointment-form select {
    width: 50%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#appointment-form button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4DC9E5;
    color: rgb(241, 240, 240);
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transform: translateY(0);
    transition: background-color 0.3s ease, box-shadow 0.3s
}

#appointment-form button:hover {
    background-color: #45b8d1;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.appointment-container{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: left;
    background: aliceblue;
}

#appointment-form-container{
    margin-top: 20px;
    text-align: left;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid #ccc;
    background: #f2f2f2;
}

#appointment-form-container .appointment-form{
    display: grid;
}

.appointment-form label{
    margin-bottom: 5px;
    font-weight: bold;

}

.doctor-info{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.doctor-info .doctor-image-large{
    width: 200px;
    border-radius: 100px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}